
/*
.stack {
    display: none;
}
*/

.content {
    overflow:hidden;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin: 5px;
}

.state-image {
    width: 100%;
    margin: 5px;
    margin-right: 5px;
    
}

.discover-description {
    text-align: center;
    margin: 10px auto;
}

#state-selection {
    display: none;
}

#genre-selection {
    display: none;
}
#language-selection {
    display:none;
}
.wrapper {
    width:auto;
    display: flex;
}
.wrapper * {
    margin:5px;
}

.select-and-image {
    display: flex;
    flex-direction: column;
}

.state-options a,
.stack-item a {
    margin: 0 3px;
    text-decoration: underline;
}

.state-options a,
.stack-item link {
    color:#372549;
}

.state-options a:visited,
.stack-item a:visited {
    color: #1a1423;
}

.state-options a:active,
.stack-item a:active {
    color:#000000;
}

.state-options a:hover,
.stack-item a:hover {
    color:#774c60;
}

.state-options {
    display: flex;
    flex-direction: column;
    height: 700px;
    flex-wrap:wrap;
    margin-left: 20px;
}

.state-options p {
    margin-right: 20px;
}

/*
p:last-of-type {
    text-align: center;
    margin: 10px;
}
*/

.station {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1A1423;
    color: #d6d0d0;
    border-radius: 20px;
}

.station-title {
    text-align: center;
    width: 150px;
}
.station-image {
    margin: 10px;
}

.station-content {
    margin: 10px;
    display: flex;
}
.station-description {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #8c819c;
    border-radius: 20px;
   
}
.other-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;
}


/* Desktop Styles */
@media only screen and (min-width: 900px) {
    .content img {
        max-width: 100%;
    }
    .state-image {
        order: 1;
        width: 40%;
        margin-right: 15px;
    }

    .state-image {
        order: -1;
    }

    .select-and-image {
        flex-direction: row;
    }

    /*
    .state-selection {
        order: 2;
    }

    .stack-item a {
        text-decoration: none;
    }
    .state-options {
        height: 500px;
    }
    */
}

